* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    text-align: center;
    font-size: 100px;
    text-shadow: 3px 2px red;
}

h1, h2, span {
    color: white;
    margin-top: 20px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

span {
    font-size: 25px;
    letter-spacing: 10px;
}

#numOfGuesses, #wins {
    letter-spacing: 0;
}

#lettersGuessed {
    letter-spacing: 3px;
}

.content {
    background: rgba(0, 0, 0, 0.4);
    width: 50%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}

.display, .gameInfo {
    text-align: center;
    width: 50%;
}

.display {
    float: left;
}

.gameInfo {
    float: right;
}